@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--fonte-titulo:"DynaPuff", system-ui;
--fonte-texto:"Playwrite GB S", cursive;

--rosa: #ff99c8ff;
--amarelo: #fcf6bdff;
--verde: #d0f4deff;
--azul: #a9def9ff;
--lilas: #e4c1f9ff;
--brando: #ffffffff;
--preto: #0a0908ff;
}

body{
    background-color: var(--lilas);
    font-family: var(--fonte-texto);
}
header, footer{
    background-color: var(--rosa);
    text-align: center;
    padding: 3em;
    color: var(--preto);
    font-family: var(--fonte-titulo);
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}
.projetos{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao{
    text-align: center;
    background-color: var(--azul);
    width: 100%;
    margin: 1em 0;
    color: var(--preto);
    padding: 1em 0;
    border-radius: 10px;
}
.cartao:hover{
    background-color: var(--amarelo);
}
.cartao a{
    text-decoration: none;
    color: var(--rosa);
}
.ultimo-cartao{
    margin-bottom: 5em;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: var(--verde);
}
.principal-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.numero-input{
    font-size: 1.5em;
    padding: 1em;
    border-radius: 10px;
}
.numero-botao{
    margin-left: 1em;
    font-size: 1.5em;
    padding: 1em;
    background-color: var(--verde);
    color: var(--preto);
    border-radius: 10px;
}